.modal {
  display: none;
  position: fixed;
  z-index: 50;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  overflow-y: auto;
  padding: 6px;
}

.modal__main {
  position: relative;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  max-width: 790px;
  width: 100%;
  cursor: default;
  overflow: hidden;
}

.modal__container {
  display: flex;
}

.modal__container:after {
  content: "";
  flex: 0 0 350px;
  background-image: url(../media/modal-bg-desktop.jpg);
  background-size: cover;
}

.modal__content {
  padding: 30px;
}

.modal__title {
  font-size: 34px;
  margin-bottom: 24px;
}

.modal__subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.modal__fieldset {
  margin: 0 0 12px;
  padding: 0;
  border: 0;
  display: flex;
}

.modal__wrapper-input {
  position: relative;
  margin-right: 10px;
  padding-bottom: 20px;
  flex-basis: 50%;
}

.modal__wrapper-input:last-child {
  margin-right: 0;
}

.modal__text {
  font-size: 12px;
  color: #898989;
  margin-bottom: 2px;
}

.modal__input {
  width: 100%;
  height: 54px;
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 0 25px;
  outline: none;
}

.modal__close {
  padding: 0;
  border-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 0;
}

.modal__input-error {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
}

@media (max-width: 920px) {
  .modal__main {
    max-width: 632px;
  }

  .modal__container:after {
    flex: 0 0 192px;
    background-image: url(../media/modal-bg-tablet.jpg);
  }

  .modal__content {
    padding: 24px;
  }

  .modal__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .modal__subtitle {
    font-size: 14px;
    margin-bottom: 24px;
    max-width: 257px;
  }

  .modal__input {
    height: 36px;
  }
}

@media (max-width: 560px) {
  .modal__main {
    margin: 0 auto auto;
    max-width: 308px;
  }

  .modal__container {
    flex-direction: column;
  }

  .modal__container:after {
    flex: 0 0 308px;
    background-image: url(../media/modal-bg-mobile.jpg);
  }

  .modal__content {
    padding: 40px 20px 20px;
  }

  .modal__fieldset {
    flex-direction: column;
  }
}
