html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  min-width: 320px;
  color: #232020;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.image {
  min-width: 100%;
  height: auto;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 18px 40px;
  color: #232020;
  text-transform: uppercase;
  background-color: #ffc700;
}

.section__offset {
  padding-top: 40px;
  padding-bottom: 40px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.filling {
  width: 100%;
  height: 100%;
}

.gray-block {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 50px;
  min-height: 530px;
}
